<h1>All Rick And Morty Characters</h1>

<br>

<form action="/search">
  <input type="text" name="q" placeholder="Search" aria-label="Search">
  <button type="submit">
    Search
  </button>
</form>

<br>

<% unless @characters.nil? %>
  <ul>
    <% @characters.each do |character| %>
      <li style="color: blue">
        <h4><%= link_to character.name, character %></h4>
        <p>Species: <%= character.species %></p>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @characters %>
<% end %>
<% if @characters.nil? %>
    <p> There are no characters in the database.</p>
<% end %>

<br>

<%= button_to 'Update Data', 'refresh', method: :post %>

